@import "./breakpoints.scss";

$pinkred: #F8395A;
$blue: #24355A;
$lightgrey: #efefef;
$grey: #7c7c7c;
$darkgrey: #5b5b5b;

.categories_content {
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $lightgrey;

  @include sm {
    padding: 50px 20px;
  }

  h1 {
    color: $blue;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
  }

  p {
    max-width: 700px;
    font-size: 20px;
  }

  .categories_list {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
    justify-content: center;
    gap: 20px;

    a {
      text-decoration: none;
    }

    .category {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 250px;
      height: 200px;
      cursor: pointer;

      &_icon {
        position: relative;
        color: white;

        svg {
          font-size: 60px;
          color: inherit;
        }

        p {
          font-weight: 600;
          text-transform: capitalize;
          color: inherit;
        }
      }

      img {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.55);
        transition: 0.3s ease-in-out;
      }

      &:hover {
        .overlay {
          background-color: rgba(23, 21, 21, 0.164);
        }
      }
    }
  }
}